.contacto {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/bg_Contacto.jpg");
  background-repeat: repeat;
  background-size: cover;
  padding: 20px 20px;
  padding-top: 67px;
  padding-bottom: 35px;
}
.content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}
.content > h3 {
  color: white;
  font-size: 28px;
  font-weight: 500;
}
.contentAside {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 25px;
}
.card {
  flex: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}
.card > h3 {
  font-size: 21px;
  font-weight: 500;
  text-align: center;
  color: #141414;
}
.list {
  font-size: 18px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}
.list  img {
  width: 30px;
}
.card > iframe {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
.form {
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  gap: 18px;
}
.form > input {
  width: 100%;
  padding: 8px 20px;
  background: transparent;
  outline: none;
  border-bottom: solid 3px #336a80;
  color: #336a80;
}
.form > button {
  width: 100%;
  padding: 8px 20px;
  background: #336a80;
  outline: none;
  color: white;
  font-size: 22px;
  border-radius: 10px;
}
.form > button:hover {
  background: #00b6c1;
}
.form > input::placeholder {
  color: #336a80;
  font-weight: 500;
}
.form > input:focus {
  border-bottom: solid 3px #00b6c1;
}
.form > textarea:focus {
  border: solid 3px #00b6c1;
}
.form > textarea {
  width: 100%;
  padding: 8px 20px;
  background: transparent;
  border: solid 3px #336a80;
  outline: none;
  border-radius: 10px;
  color: #336a80;
}
.form > textarea::placeholder {
  color: #336a80;
  font-weight: 500;
}
