.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -999;
  top: 0;
}
.banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.logo {
  width: 270px;
}
.arrow {
  width: 100px;
  color: white;
  margin-top: 40px;
  animation: movimiento infinite 3s;
  transition: 1s;
}
@keyframes movimiento {
  0% {
    transform: translateY(5px);
  }
  50%{
    transform: translateY(86px);
  }
  100% {
    transform: translateY(5px);
  }
}
.description {
  color: white;
  font-size: 22px;
  text-align: center;
}