.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: -999;
  top: 0;
}
.banner {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}
.logo {
  width: 270px;
}
.description {
  color: white;
  font-size: 22px;
  text-align: center;
}
.information {
  width: 100%;
  margin-top: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #dff6fe;
}
.contentInformation {
  width: 100%;
  max-width: 1000px;
  padding: 0 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.contentInformation > img {
  width: 500px;
  position: absolute;
  object-fit: cover;
}
.informationAside {
  width: 100%;
  flex: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.informationAside > h3 {
  font-size: 40px;
  font-weight: 500;
  color: #be5305;
}
.informationAside > p {
  font-size: 17px;
}
.informationAside > img {
  width: 340px;
  object-fit: cover;
}
