.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  position: fixed;
  top: 0;
  overflow: hidden;
}
.bgHeader {
  position: absolute;
  width: 100%;
  height: 70vh;
  object-fit: cover;
  top: 0;
  z-index: -99;
}
.content {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.navBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.option {
  font-size: 14px;
  color: #00b6c1;
  font-weight: 500;
  cursor: pointer;
}
.optionActive {
  color: white;
}

@media screen and (max-width: 1024px) {
  .navBar {
    display: none;
  }
}
