.clientes {
  width: 100%;
  min-height: 100vh;
  background-color: #cbdce3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 22px;
}
.content {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.content > h3 {
  font-size: 30px;
  font-weight: 500;
  color: hsl(193, 7%, 50%);
}
.contentCard {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
